.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules/
www/

electron/app/
electron/www/*
electron/capacitor.config.json


.idea/
build/
android/app/src/main/assets/public/*

